table#main {
    width: 100%; margin-top: 20pt;
    font-size: 15px;
}

table#main, table#main td, table#main tr {
    font-family: monospace;
}

table#main th:nth-child(1) {
    width: 8em;
}

table#main th:nth-child(2) {
    width: 8em;
}

table.client {
    width: 100%;
    font-size: 12px;
}

table.client td {
    width: 32em;
    text-align: center;
}

.action {
    width: 35em;
    min-width: 35em;
}

.ready {
    color: green;
}

.broken {
    color: red;
}

.action-truncate {
    overflow: hidden;
    white-space: nowrap;
    width: 30em;
    text-overflow: ellipsis;
    display: block;
}

.state {
    text-transform: capitalize;
    font-size: 15px;
}
